---
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";

const identity = {
  firstName: "Andrea",
  country: "Italy",
  occupation: "Software Engineer",
  hobbies: ["Padel", "Board Games", "Hiking", "Fishing"],
};

const skills = [
  "Javascript",
  "Typescript",
  "React",
  "Svelte",
  "Angular",
  "HTML",
  "CSS",
  "and now even Astro!",
];

const backendSkills = [
  "C#",
  ".NET Core",
  "Node.js",
  "Express",
  "MongoDB",
  "PostgreSQL",
  "GraphQL",
  "Apollo",
];
---

<Layout title="About">
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <Skills skills={skills} type="Frontend" />
  <div>
    <input id="showBE" type="checkbox" />
    <label for="showBE">Show Backend skills</label>
  </div>
  <div id="backendSkills" class="hidden">
    <Skills skills={backendSkills} type="Backend" />
  </div>
</Layout>

<script is:inline>
  document.getElementById("showBE").addEventListener("change", function () {
    // const show = this.checked;
    document.getElementById("backendSkills").classList.toggle("hidden");
  });
</script>

<style>
    .hidden {
        display: none;
    }
</style>
